<div class="ui inverted menu" style="height: 140px; margin-top: 50px;">
  
        <a href="{%url 'home'%}" class="item">
            PROJECT-RANKER
        </a>
        
        <div class="right menu">
            
            <div style="display: flex; flex-direction: column;">
                <p class="item">OUR APIs</p>
                <a href="{%url 'api_profiles'%}" class="active item">
                        Profiles
                </a>
                <a href="{%url 'api_projects'%}" class="active item">
                        Projects
                </a>
            </div>
        </div>
</div>