{%extends 'base.html' %}
{%load semanticui %}
{%block content%}
<div class="ui internally celled grid">
        <div class="row">
          <div class="four wide column" style="position: relative;">
            <div style="position: absolute;bottom:0 ;">
                <p>{{profile.user.username}}</p>
                <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
                <p style="">{{profile.bio}}</p>
                <p>Projects:</p>
                <p>Contacts:</p>
                <div class="ui left pointing dropdown link item">
                        <span>Manage Profile<i class="caret right icon"></i></span>
                        
                        <div class="menu">
                          <div class="item">
                              <a href="#" class="test button">Add Project</a>
                          </div>
                          <div class="item">
                              <a href="#">Edit Profile</a>
                          </div>
                        </div>
                </div>
            </div>
          </div>
          <div class="eight wide column" style="background-image: url({{profile.profile_pic.url}});  
          background-position:center; background-repeat: no-repeat; background-size: cover;
          height:300px">

          </div>

          <!--OVERALL RATING FOR USER-->
          <div class="four wide column">
                <p>Overall Rating:</p>
                <p><i class="star icon" style="font-size: 100px; padding-top: 50px;"></i></p>
                <p>{{overall_rating|floatformat:'0'}}</p>
                
          </div>
        </div>


        <div class="row">

          {%for project in projects%}
          <div class="three wide column" style="background-image: url({{project.project_pic.url}});  
          background-position:center; background-repeat: no-repeat; background-size: cover;
          height:200px">
          <div class="three wide column">
              <a class="ui button" href="{%url 'project_details' project.id%}">Details</a>

          </div>
            
          </div>
          {%endfor%}
          
        </div>


        <!--Modal for Uploading user projects  -->
        <div class="ui modal">
          <div class="header">Add a Project</div>
          <div class="content">
            <form action="{%url 'project_upload' %}" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
              <!---->
              <div class="ui form">
                <div class="field">
                  <label>Name</label>
                  <input type="text" name="name" id="">
                </div>
                <div class="field">
                  <label>Description</label>
                  <textarea type="text" name="description" id=""></textarea>
                </div>
                <div class="field">
                  <label>Cover Image</label>
                    <input type="file" name="project_pic" id="">
                </div>

              </div>
              <button type="submit" class="ui submit button">Add to Profile</button>
            </form>
              
          </div>
        </div>
</div>


{%endblock%}


{%block scripts%}
{{block.super}}
<script>
$('.ui.dropdown')
  .dropdown()
;

$('.ui.rating')
  .rating()
;

$('.ui.modal')
  .modal('attach events', '.test.button', 'show')
;
</script>
{%endblock%}