{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="ui four column grid">
    <div class="two column row">
      <div class="column">rr</div>
      <div class="column">rr</div>
    </div>
    <div class="column"></div>
    <div class="column" style="background-image: url({{project.project_pic.url}});  
    background-position:center; background-repeat: no-repeat; background-size: cover;
    height:200px">

    </div>
    <div class="column">

        <p>{{project.name}}</p>
        <p>{{project.description}}</p>
        <p><div name='design' class="ui rating disabled" data-rating="{{project.design|floatformat:'0'}}" data-max-rating="10"></div></p>
        <p><div name='design' class="ui rating disabled" data-rating="{{project.usability|floatformat:'0'}}" data-max-rating="10"></div></p>
        <p><div name='design' class="ui rating disabled" data-rating="{{project.content|floatformat:'0'}}" data-max-rating="10"></div></p>
        <p><div name='design' class="ui rating disabled" data-rating="{{project.average|floatformat:'0'}}" data-max-rating="10"></div></p>
    </div>
    <div class="column">
        <div>
            <button class="test button">Vote</button>
        </div>
    </div>

    <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
              Modal Title
            </div>
            <div class="image content">
              <div class="image">
                  
                  <form action="{%url 'ratings' project.id %}" method="POST">
                      {%csrf_token%}
                      <div>
                          <label>Design</label>
                        <input type="range" name="design" id="design" min="1" max="10">
                      </div>
                      <div>
                          <label>Usability</label>
                        <input type="range" name="usability" id="usability" min="1" max="10">
                      </div>
                      <div>
                          <label>Content</label>
                        <input type="range" name="content" id="content" min="1" max="10">
                      </div>
                      <div>
                        <button type="submit">Vote</button>
                      </div>
                  </form>
              </div>
              <div class="description">
                A description can appear on the right
              </div>
            </div>
            <div class="actions">
              <div class="ui button">Cancel</div>
              <div class="ui button">OK</div>
            </div>
    </div>
</div>
{%endblock%}

{%block scripts%}
{{block.super}}
<script>
$('.ui.rating')
  .rating('disable')
;
$('.ui.dropdown')
  .dropdown()
;

$('.ui.modal')
  .modal('attach events', '.test.button', 'show')
;
</script>
<!--
<script type="text/javascript" src="{% static 'js/ratings.js' %}"></script>-->
<script>
$(document).ready(function(){
    $('form').submit(function(event){
        event.preventDefault()
        
        form = $("form")


        $.ajax({
            'url':'/ajax/ratings/{{project.id}}/',
            'type':'POST',
            'data':form.serialize(),
            'dataType':'json',
            'success':function(data){
                alert(data['success'])
                location.reload()
            },
        }) //End of Ajax
    }) //End of submit event
})//End of document ready function
</script>
{%endblock%}