{%extends 'base.html' %}
{% load semanticui %}
{%block content%}

<div class="ui placeholder segment" style="margin-top: 100px;">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <form class="ui form" action="{% url 'login' %}" method="POST">
            {%csrf_token%}
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              {%render_field form.username _no_label='true' _icon='user' placeholder='Username'%}

            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              {%render_field form.password  _no_label='true' _icon='lock' placeholder='Password'%}
            </div>
          </div>
          <button type="submit" class="ui black submit button">Sign In</button>
        </form>
      </div>
      <div class="middle aligned column">
        <div class="ui big button" onclick="location.href='/register/'" style="cursor: pointer;">
          <i class="signup icon"></i>
          Sign Up
        </div>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
</div>
{%endblock%}

{%block footer%}
<footer style="position: fixed;bottom: 0; width: 100%;">
  {%include 'footer.html' %}
</footer>
{%endblock%}