{%extends 'base.html' %}
{% load semanticui %}
{%block content%}

<div class="ui equal width form inverted segment">
    <form action="{% url 'register' %}" method="POST">
        {%csrf_token%}
        <div class="fields">
          <div class="field">
            {%render_field form.username _icon='user' _align='left'%}
          </div>
          <div class="field">
              {%render_field form.password _icon='user' _align='left'%}
          </div>
        </div>
        <div class="fields">
          <div class="field">
              {%render_field form.email _icon='user' _align='left'%}
          </div>

          <div class="field">
              {%render_field form.first_name%}
          </div>
          <div class="field">
                {%render_field form.last_name%}
          </div>
        </div>
        <button class="ui submit button" type="submit">Sign Up</button>
    </form>
</div>
{%endblock%}